*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --primary-color: #757575;
    --secondary-color: #ffffff;
    --title-color: #212121;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --background-section: #f5f4fa;
    --background-active-button: #188ce8;
    --primary-background: #ffffff;
    --secondary-background: #2f303a;
    --accent-background: #2196f3;
    --title-weight: 700;
    --list-gap: 30px;
    --icon-fill-primary: #afb1b8;
    --icon-fill-secondary: #ffffff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    margin: 0;
    font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    background-color: var(--primary-background);
    color: var(--primary-color);
    letter-spacing: 0, 03em;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.logo-nav {
    border-bottom: 1px solid #ececec;
}

.logo-nav .container {
    display: flex;
}

.main-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
}

.navigation .navigation-item+.navigation-item {
    margin-left: 50px;
}

.logo-nav .link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: var(--title-color);
}

.logo-nav .logo,
.examples,
.team,
.customers {
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.logo-nav .logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: var(--title-weight);
    color: var(--logo-color);
}

.logo-accent {
    color: var(--accent-color);
}

.navigation .link,
.contacts .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.contacts {
    display: flex;
    margin-left: auto;
}

.contacts .contacts-item+.contacts-item {
    margin-left: 50px;
}

.contacts .link {
    display: flex;
    align-items: center;
    color: var(--primary-color);
}

.contacts .icon-mail,
.contacts .icon-phone {
    margin-right: 10px;
    fill: currentColor;
}

.navigation .link,
.contacts .link,
.contact-info .link {
    transition: color 250ms var(--timing-function);
}

.navigation .link:hover,
.contacts .link:hover,
.navigation .link:focus,
.contacts .link:focus,
.contact-info .link:hover,
.contact-info .link:focus {
    color: var(--accent-color);
}

.logo-nav .current {
    color: var(--accent-background);
    position: relative;
}

.logo-nav .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-color: #c4c4c4;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    letter-spacing: 0.06em;
    text-align: center;
}

.hero,
.logo-contacts {
    background-color: var(--secondary-background);
    color: var(--secondary-color);
}

.hero .hero-title {
    margin: 0 auto;
    max-width: 696px;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.4;
    text-transform: uppercase;
}

.hero .hero-order {
    max-width: 200px;
    padding: 10px 32px 10px 32px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-weight: var(--title-weight);
    font-size: 16px;
    line-height: 1.9;
    background-color: var(--accent-background);
    cursor: pointer;
    color: var(--secondary-color);
    transition: background-color 250ms var(--timing-function);
}

.hero-order:hover,
.hero-order:focus {
    background-color: var(--background-active-button);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 1000ms var(--timing-function), visibility 250ms var(--timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%), scale(0.7);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary-background);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal-close-btn:focus,
.modal-close-btn:hover {
    fill: var(--accent-color);
}

.register-form {
    padding: 40px;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    margin-bottom: 16px;
    margin-top: 0;
    font-weight: var(--title-weight);
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-color);
}

.form-list {
    margin-bottom: 20px;
}

.form-item {
    position: relative;
}

.form-item:not(:last-child) {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: var(--primary-color);
}

.form-input {
    display: block;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 35px;
    cursor: pointer;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transition: fill 250ms var(--timing-function);
}

.form-input:focus,
.form-item textarea:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    height: 18px;
    transition: fill 250ms var(--timing-function);
}

.form-input:focus+.modal-icon {
    fill: var(--accent-color);
}

.form-item textarea::placeholder {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

textarea {
    display: block;
    resize: none;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
}

.form-checkbox-input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid var(--title-color);
    border-radius: 4px;
    cursor: pointer;
}

.agreement-link {
    color: var(--accent-color);
    margin-left: 3px;
}

.form-checkbox-input:checked+.icon-checkbox {
    background-color: var(--accent-color);
    background-image: url("../images/icons/icon-check.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: border-box;
    border-color: var(--accent-color);
    cursor: pointer;
}

.label {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    line-height: 1.7;
    color: var(--primary-color);
}

modal-send-btn.submit {
    padding: 10px 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-send-btn {
    min-width: 200px;
    min-height: 50px;
    font-family: inherit;
    font-weight: var(--title-weight);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    display: block;
    color: var(--secondary-color);
    background-color: var(--accent-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: color 250ms var(--timing-function), backgroud-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
    color: var(--secondary-color);
    background-color: var(--accent-background);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.preference,
.examples,
.team,
.projects,
.customers {
    padding-bottom: 94px;
    padding-top: 94px;
}

.preference .list,
.examples .list,
.team .list,
.customers .list {
    display: flex;
}

.preference .preference-item {
    max-width: 270px;
}

.preference .preference-item:not(:last-child),
.customers .customers-item:not(:last-child) {
    margin-right: var(--list-gap);
}

.preference-item .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--background-section);
    border-radius: 4px;
    margin-bottom: 30px;
}

.preference .preference-title {
    margin-bottom: 10px;
    font-weight: var(--title-weight);
    line-height: 1.1;
    font-size: inherit;
    text-transform: uppercase;
    color: var(--title-color);
}

.examples {
    padding-top: 0;
}

.examples .examples-item {
    max-width: 370px;
    display: block;
    position: relative;
}

.examples .examples-item:not(:last-child) {
    margin-right: var(--list-gap);
}

.examples-title,
.team-title,
.customers-title {
    margin-bottom: 50px;
    font-weight: var(--title-weight);
    font-size: 36px;
    color: var(--title-color);
}

.examples-thumb {
    width: 100%;
    position: absolute;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
}

.examples-thumb-title {
    font-weight: var(--title-weight);
    font-size: inherit;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.team {
    font-size: 16px;
    line-height: 1.2;
    background-color: var(--background-section);
}

.team .team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--primary-background);
}

.team .team-item:not(:last-child) {
    margin-right: var(--list-gap);
}

.team-item .photo {
    flex-grow: 1;
    margin-bottom: 30px;
}

.team-member {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    color: var(--title-color);
}

.team-profession {
    margin-bottom: 16px;
}

.team .social-networks,
.logo-contacts .social-networks {
    display: flex;
    justify-content: center;
    max-width: 206px;
    margin: 0 32px;
    margin-bottom: 30px;
}

.social-networks-item {
    width: 44px;
    height: 44px;
}

.social-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--icon-fill-primary);
}

.social-networks-item:not(:last-child) {
    margin-right: 10px;
}

.team .icon-social {
    fill: currentColor;
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.team .social-link:hover,
.team .social-link:focus {
    color: var(--icon-fill-secondary);
    background-color: var(--accent-color);
}

.customers-item {
    width: 170px;
    height: 92px;
}

.customers .link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    color: var(--icon-fill-primary);
    transition: dorder 250ms var(--timing-function), color 250ms var(--timing-function);
}

.customers .link:hover,
.customers .link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.customers .icon-customers {
    fill: currentColor;
}

.logo-contacts {
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-contacts .container {
    display: flex;
    align-items: baseline;
}

.address {
    margin-right: 70px;
}

.logo-contacts .logo {
    display: block;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.contact-info {
    font-style: inherit;
}

.logo-contacts .contact-info-item:not(:last-child) {
    margin-bottom: 9px;
}

.logo-contacts .link {
    color: var(--secondary-color);
}

.logo-contacts [href^="mailto"],
.logo-contacts [href^="tel"] {
    color: rgba(255, 255, 255, 0.6);
}

.logo-contacts .social-networks {
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.logo-contacts .join-title {
    font-size: 14px;
    line-height: 1, 1px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.logo-contacts .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--timing-function);
}

.logo-contacts .social-link:hover,
.logo-contacts .social-link:focus {
    background-color: var(--accent-color);
}

.logo-contacts .icon-social {
    fill: var(--icon-fill-secondary);
}

.footer-form {
    margin-left: auto;
}

.footer-label {
    display: block;
    font-weight: var(--title-weight);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.footer-input {
    padding-left: 30px;
    background-color: inherit;
    width: 358px;
    height: 50px;
    color: var(--secondary-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    padding: 10px 28px;
    border: 1px solid var(--accent-color);
    min-width: 200px;
    height: 50px;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}

.icon-send {
    margin-left: 10px;
    fill: currentColor;
}

.projects .filter-box {
    max-width: 611px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.projects .filter {
    display: flex;
}

.filter .click {
    padding: 6px 22px;
    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: var(--title-color);
    cursor: pointer;
    text-align: center;
    transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter .filter-item:not(:last-child) {
    margin-right: 8px;
}

.filter .click:hover,
.filter .click:focus {
    background-color: var(--accent-background);
    color: var(--secondary-color);
    box-shadow: 0px 3px 1px rgb(0 0 0 / 10%), 0px 1px 2px rgb(0 0 0 / 8%), 0px 2px 2px rgb(0 0 0 / 12%);
}

.project-box {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--list-gap));
    margin-top: calc(-1 * var(--list-gap));
}

.projects .project-filter {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-color);
}

.projects .projects-item {
    display: flex;
    margin-left: var(--list-gap);
    margin-top: var(--list-gap);
    flex-direction: column;
    flex-basis: calc(100% / 3-var(--list-gap));
}

.projects .link {
    transition: box-shadow 250ms var(--timing-function);
    display: block;
}

.projects .link:hover,
.projects .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects .item-img {
    position: relative;
    overflow: hidden;
}

.projects .content {
    flex-grow: 1;
}

.projects-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
}

.projects .link:hover .projects-overlay {
    transform: translateY(0);
}

.overlay-desc {
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.projects .item-info {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    border-top: none;
}

.projects .project-title {
    font-weight: var(--title-weight);
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;
    color: var(--title-color);
    margin-bottom: 4px;
}