.address {
    margin-right: 70px;
}

.address__logo {
    display: block;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.address__logo--accent {
    color: var(--accent-color);
}

.address__info {
    font-style: inherit;
}