*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", "Verdana", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    background-color: var(--primary-background);
    color: var(--primary-color);
    letter-spacing: 0, 03em;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

a {
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.link {
    text-decoration: none;
}

.examples,
.team,
.customers {
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
}

.preference,
.examples,
.team,
.projects,
.customers {
    padding-bottom: 94px;
    padding-top: 94px;
}

.preference .list,
.examples .list,
.command,
.customers .list {
    display: flex;
}