.team {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    background-color: var(--background-section);
}

.team__title {
    margin-bottom: 50px;
    font-weight: var(--title-weight);
    font-size: 36px;
    color: var(--title-color);
}