:root {
    --primary-color: #757575;
    --secondary-color: #ffffff;
    --title-color: #212121;
    --accent-color: #2196f3;
    --logo-color: #000000;
    --background-section: #f5f4fa;
    --background-active-button: #188ce8;
    --primary-background: #ffffff;
    --secondary-background: #2f303a;
    --accent-background: #2196f3;
    --title-weight: 700;
    --list-gap: 30px;
    --icon-fill-primary: #afb1b8;
    --icon-fill-secondary: #ffffff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}